<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=LAPTOP-F5R0JL99;Initial Catalog=WowFoods;Integrated Security=True;Encrypt=False"/>
  </connectionStrings>
</configuration>
